body {
    margin-top: 0;
    margin-bottom: 0;
    background: none;
}

.full {
  background: url('/uploads/logo/bg69.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login {
	margin-right: auto;
	margin-left: auto;
	margin-top: 20%;
	background-color: ;
	max-height: 300px;
	height: 300px;
	border: 1px solid #34495e;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

[hidden] {
  display: none !important;
}


